.training-records {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 25px;
}

.form__input-container {
  width: 100%;
}

.form__input-title {
  display: block;
  padding: 0 0 10px 10px;
  cursor: pointer;
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 1em;
}

.form__input:focus {
  border: none;
  box-shadow: 0 0 2px 1px #539af8;
  outline: none;
}

.form__send-btn {
  height: 45px;
  padding: 0 30px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.form__send-btn:active {
  box-shadow: 0 0 5px 1px #539af8;
  background-color: #c9dcf7;
}

.static__list {
  width: 100%;
}

.static__list-headers-title {
  padding: 20px 10px;
  font-weight: 400;
  text-align: center;
}


.static__list-body {
  box-shadow: 0 0 0 1px black;
  border-radius: 10px;
}

.list-body__no-item {
  padding: 13px 0 12px;
  text-align: center;
}

.list-body__item-date {
  padding: 10px 0 10px 45px;
  text-align: left;
}

.list-body__item-distance {
  padding: 10px 15px;
  text-align: center;
}

.list-body__item-actions {
  padding: 10px 15px;
  text-align: center;
}

.item-actions__edit-btn {
  border: none;
  font-size: 1em;
  background-color: #ffffff;
  cursor: pointer;
}

.item-actions__delete-btn {
  border: none;
  font-size: 1em;
  background-color: #ffffff;
  cursor: pointer;
}